.question-editor {
    width: 717px;
    margin: auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.answer-field {
    width: 717px;
    height: 50px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 0;
    margin-top: 5px;
    background-color: #fcfcfc;
}

.selected {
    background: #abe2ff;
    z-index: -1;
}

.sticky {
    position: sticky;
    top: 50px;
}

.selected-questions {
    position:fixed;
    height:100%;
    background: #dcdcdc;
    width:200px;
    right:0px;
    margin-right: -200px;
    z-index: 10;
}

#toggle-sel-qns {
    position:fixed;
    cursor: pointer;
    width:100px;
    height:50px;
    right:0px;
    background:rgb(255, 158, 12);
    top:300px;
    z-index: 10;
    text-align: center;
    border-radius: 4px;
}

.editorjs {
    margin-top: 8px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #fcfcfc;
}

.button {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.4rem;
    width: 20%;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 5px auto auto;
}

#save-btn {
    background: #77ce77;
}

#edit-btn {
    background-color: #35c2ff;
}

#delete-btn {
    background-color: #ff4b37;
}

#search-btn {
    background-color: #35c2ff;
    width: 50px;
    display: inline;
    margin-left: 20px;
}

.question_search {
    text-align: center;
}

.chosen-results, .chosen-container {
    text-align: left;
}

body {
    margin: 0px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar {
    display: inline-block;
}

li.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04aa6d;
}
