.question-editor {
    width: 590px;
    margin: auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.question-ids label {
    margin: 20px 5px;
}

.answer-field {
    width: 640px;
    height: 50px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 0;
    margin-top: 5px;
    background-color: #fcfcfc;
}

.selected {
    background: #abe2ff;
    z-index: -1;
}

.sticky {
    position: sticky;
    top: 50px;
}

.selected-questions {
    position:fixed;
    bottom: 0;
    top: 0;
    height:100%;
    background: #dcdcdc;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    width:300px;
    right:0px;
    margin-right: -300px;
    z-index: 10;
}

.selected-questions p {
    text-align: center;
    background-color: #fcfcfc;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    width: 80%;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.selected-questions p:hover {
    background-color: #ff6666;
}

#selected-questions-list {
    overflow-y: auto;
    height: 62%;
}

#toggle-sel-qns {
    position:fixed;
    cursor: pointer;
    width:100px;
    height:50px;
    right:0px;
    background:rgb(255, 158, 12);
    top:300px;
    z-index: 10;
    text-align: center;
    border-radius: 4px;
}

.editorjs {
    margin-top: 8px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #fcfcfc;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.4rem;
    width: 20%;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 5px auto auto;
}

#save-btn {
    background: #77ce77;
}

#edit-btn {
    background-color: #35c2ff;
}

#delete-btn {
    background-color: #ff4b37;
}

#search-btn {
    background-color: #35c2ff;
    width: 50px;
    display: inline;
    margin-left: 20px;
}

#clear-qns-btn {
    background-color: #ff4b37;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

#export-btn {
    background-color: #35c2ff;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

#template-btn {
    background-color: #04aa6d;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

#import-template-btn {
    background-color: #ff7800;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

#template_select_chosen {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.question_search {
    text-align: center;
}

.chosen-results, .chosen-container {
    text-align: left;
}

body {
    margin: 0px;
}

ul.navbar-custom {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar-custom {
    display: inline-block;
}

li.navbar-custom a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar-custom a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04aa6d;
}

.template-list {
    margin: auto;
    width: 50%;
}

.template-card {
    margin: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fcfcfc;
    overflow: auto;
    padding: 10px;
}

.template-questions {
    margin: auto;
    width: 50%;
}

.template-question-card {
    text-align: center;
    margin: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fcfcfc;
}
