{% extends "base.html" %} {% block title %}Add Question{% endblock %} {% block
content %}

<h1 style="text-align: center">Add to Book</h1>
{% for question in questions %}
  <div class="question-editor" id="editor" onclick="on_select(this.id)">
    <div onclick="event.stopPropagation()" id="{{ question.id }}">
      <p>Question ID: {{ question.id }}</p>
      <p>Category: {{ question.category.topic }} ({{ question.category.level }}, {{ question.category.subject }})</p>
    </div>
  
    <div id="editorjs-{{ question.id }}" onclick="event.stopPropagation()"></div>
    <button onclick="location.href = 'edit?id={{ question.id }}'"></button>
  </div>
  <script>
    new EditorJS({
      holder: "editorjs-{{ question.id }}",
      tools: {
          paragraph: {
            class: Paragraph,
            inlineToolbar: ["bold", "italic"],
          },
          list: {
            class: List,
            inlineToolbar: true,
          },
          table: {
            class: Table,
            inlineToolbar: true,
          },
          image: {
            class: ImageTool,
            config: {
              endpoints: {
                byFile: "/api/image/upload_file",
                byUrl: "/api/image/upload_url",
              },
            },
            inlineToolbar: true,
          },
        },
      {% autoescape false %}
      data: {{ question.content | replace("False", "false") | replace("True", "true") }},
      {% endautoescape %}
      readOnly: true
    });
  </script>
{% endfor %}
{% endblock %}