{% extends "base.html" %}
{% block title %}Edit Topics{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/edit_topics.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Edit Topics</h1>

    <div style="width: 80%; margin: auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Subject</th>
                    <th>Topic</th>
                    <th>Options</th>
                </tr>
            </thead>

            <tbody>
                {% for category in categories %}
                <tr row_id="{{ category.id }}">
                    <td><div class="row_data" edit_type="click" col_name="level">{{ category.level }}</div></td>
                    <td><div class="row_data" edit_type="click" col_name="subject">{{ category.subject }}</div></td>
                    <td><div class="row_data" edit_type="click" col_name="topic">{{ category.topic }}</div></td>

                    <td>
                        <span class="btn_edit"><a href="#" class="btn btn-primary" row_id="{{ category.id }}">Edit</a></span>

                        <span class="btn_save"><a href="#" class="btn btn-primary" row_id="{{ category.id }}">Save</a></span>
                        <span class="btn_delete"><a href="#" class="btn btn-danger" row_id="{{ category.id }}">Delete</a></span>
                        <span class="btn_cancel"><a href="#" class="btn btn-primary" row_id="{{ category.id }}">Cancel</a></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin: auto; text-align: center;">
        <label for="level">Level</label>
        <input type="text" id="level" placeholder="E.g Secondary 1">

        <label for="subject">Subject</label>
        <input type="text" id="subject" placeholder="E.g Math">

        <label for="topic">Topic</label>
        <input type="text" id="topic" placeholder="E.g Functions and Graphs" size="50">

        <button id="btn_add_topic">Add Topic</button>
    </div>
{% endblock %}