{% extends "base.html" %}
{% block title %}Add Question{% endblock %}

{% block scripts %}
<script
    src="{{ url_for('static', filename='js/index.js') }}"
    type="module"
></script>
{% endblock %}

{% block content %}
    <h1 style="text-align: center">Add Question</h1>
    <div class="question-editor">
        <div onclick="event.stopPropagation()">
            <label for="qn-school">School</label>
            <input type="text" id="qn-school" maxlength="10" />
        
            <label for="qn-level">Level</label>
            <select id="qn-level">
                <option value="P1">Primary 1</option>
                <option value="P2">Primary 2</option>
                <option value="P3">Primary 3</option>
                <option value="P4">Primary 4</option>
                <option value="P5">Primary 5</option>
                <option value="P6">Primary 6</option>
                <option value="S1">Secondary 1</option>
                <option value="S2">Secondary 2</option>
                <option value="S3">Secondary 3</option>
                <option value="S4">Secondary 4</option>
                <option value="J1">JC 1</option>
                <option value="J2">JC 2</option>
            </select>
        
            <label for="qn-test">Test</label>
            <input type="text" id="qn-test" maxlength="5" />
        
            <label for="qn-year">Year</label>
            <input
                type="number"
                id="qn-year"
                value="2023"
                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
            />
        
            <label for="qn-number">Question No.</label>
            <input
                type="number"
                id="qn-number"
                style="width: 50px"
                value="1"
                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
            />
        
            <label for="qn-section">Section</label>
            <select id="qn-section">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
        
            <label for="qn-category">Category</label>
            <select id="qn-category">
                {% for category in categories %}
                <option value="{{ category.id }}">
                    {{ category.topic }} ({{ category.level }}, {{ category.subject
                    }})
                </option>
                {% endfor %}
            </select>
        </div>
    
        <div class="editorjs" id="editorjs_question" onclick="event.stopPropagation()"></div>
        <div
            class="editorjs"
            id="editorjs_answer"
            onclick="event.stopPropagation()"
        ></div>
        <input
            type="submit"
            class="button"
            id="save-btn"
            value="Save"
            onclick="event.stopPropagation()"
        />
    </div>
{% endblock %}
