{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/questions.js') }}" type="module"></script>
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Search for Questions</h1>

    <div class="question_search">
        <label for="section-select">Section</label>
        <select id="section-select" data-placeholder=" ">
            <option value="">None</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>

        <label for="category-select">Category</label>
        <select id="category-select" data-placeholder=" ">
            <option value="">None</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.topic }} ({{ category.subject }}, {{ category.level }})</option>
            {% endfor %}
        </select>

        <button onclick="" class="button" id="search-btn"><i class="fa fa-search"></i></button>
    </div>

    <div class="selected-questions">
        <h2 style="text-align: center;" id="sel-qns-h2">0 Selected Question(s)</h2>
        <button class="button" id="export-btn">Add to Word</button>

        <button class="button" id="template-btn">Add to Template</button>
        <select id="template-select" data-placeholder=" ">
            <option value="">None</option>
            {% for template in templates %}
                <option value="{{ template.id }}">{{ template.name }}</option>
            {% endfor %}
        </select>

        <div id="selected-questions-list"></div>
    </div>
    <div id="toggle-sel-qns">
        <p>Selected</p>
    </div>

    <script>
        // Select section & category based on URL parameters
        let urlParams = new URLSearchParams(window.location.search);
        let section = urlParams.get('section');
        let category = urlParams.get('category');

        if (section) {
            document.getElementById('section-select').value = section;
        }

        if (category) {
            document.getElementById('category-select').value = category;
        }
    </script>

    {% block questions %}
    {% endblock %}
{% endblock %}